body {
  text-align: center;
  background-color: #f5f5f5;
  height: 100%;
}

table { margin: auto;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }

.page-link {
  background-color: #a9a9a9 !important;
}

.repo-btn-nav {
  text-align: left;
}

.repo-btn-nav button {
  background-color : #D3D3D3; 
  width: 112.21px;
}

.repo-btn-nav button:hover {
  background-color : #a9a9a9; 
  width: 112.21px;
}

.button-nav {
  display: flex;
  flex-flow: flow nowrap;
  align-items: center;
  margin-top: 2rem;
  justify-content: center;
}

.button-nav > button{
    padding: 0.5em;
    width: 70px;
    height: auto;
    margin-right: 8px;
    border: 1.5px solid #0d1117;
    border-radius: 4px;
    background: transparent;
    font-weight: 800;
}

.counter-btn {
  padding: 1rem;
  border: none;
  font-weight: 800;
}

.button-nav > button:hover{
  background: #d5d5d5;
}

.about-nested-wrapper {
  list-style: none;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
  text-decoration: none;
  color: #000000;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navigation-menu {
  margin-left: auto;
  margin-right: 1rem;
  padding: 1rem;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li :hover {
  background: #d5d5d5;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding:0.5rem;
}

.navigation-menu a {
  text-decoration: none;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #d5d5d5;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.active {
  background-color: #a9a9a9;
}

.hamburger:hover {
  background-color: #a9a9a9;
}

ul {
  list-style: none;
}

.content {
  text-align: center;
  margin: 0 auto;
  width: 70%;
  padding-top: 30px;
}

.social-links {
  text-decoration: none;
}

.repo-link {
  padding: .2rem;
}

.contact-list {
  padding-left: 0px;
}

@media screen and (max-width: 550px) {
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 90px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}
